body{
background-color: rgba(124, 125, 133, 0.548);}

.fondobarra{
    background-color: rgb(120, 38, 153);
   }

.d-block{
    width: 1350px;
    height: 400px;
}
    
.carousel-caption{
    color: rgb(5, 3, 3);
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}

.definicion{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.impacto{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 7%;
    margin-right: 7%;
}

.footer{
    background-color: rgba(56, 53, 53, 0.719);
    width: 100%;
    
    
}
.row{
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 10px;
    color: rgb(189, 194, 199);
    margin-left: 5px;
    margin-right: 5px;
    }
.titulo{
    font-family: Georgia,;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
}
ul{
   text-align: justify;
   font-weight: bolder;
   color: rgb(205, 241, 234);
}
.formulario{
    font-size: 17px;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
}
.container{
    font-family: arial;
    font-size: 15px;
    color: white;
}
.enviar{
   font-size: 20px;
}